<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.creditmanage.mapper.LogMapper">

    <select id="selectStudentByUsername" parameterType="string" resultType="student">
        SELECT * FROM student
        WHERE username = #{username}
    </select>

    <select id="selectTeacherByUsername" parameterType="string" resultType="teacher">
        SELECT * FROM teacher
        WHERE username = #{username}
    </select>

</mapper>